doctype html
html(lang="en")
  head
    title Login to Websocket
    meta(charset="utf-8")
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
  //- [START appengine_websockets_form]
  body
    button(id='login-button') Login
    ul(id="messages")
    form(action="")
      input(id="m" autocomplete="off")
      button Send
    //- [END appengine_websockets_form]

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script.
      // [START appengine_websockets_js]
      $(function () {
        var socket = io();
        $('form').submit(function(){
          console.log($('#m').val());
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('login-success', function(msg){
          console.log(msg);
          var ajaxRequest;  // Khai bao mot bien
            try{
                // Voi cac trinh duyet hien dai: Opera 8.0+, Firefox, Safari
                ajaxRequest = new XMLHttpRequest();
                }catch (e){
                    // Voi trinh duyet IE
                    try{
                        ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
                        }catch (e) {
                            
                                try{
                                    ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
                                }catch (e){
                                
                                    // Thong bao khi xay ra loi
                                    alert("Co loi xay ra voi trinh duyet cua ban!");
                                    return false;
                                }
                        }
                }
            
            ajaxRequest.open("GET", "login" , true);
            ajaxRequest.send(null);
        });

        $('#login-button').on('click', function(){
            socket.emit('login', {username: 'giapdong', password: 'giapdong'});
        })
      });
      // [END appengine_websockets_js]
//- [END appengine_websockets_index]

